
#backgroundPopup
{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;    
    z-index: 10001;
}

#popupContact, #msg_div
{
    border-radius: 15px;
    display: none;
    position: fixed;
    min-height: 210px;
    width: 350px;
    background: #FFFFFF;
    border: 2px solid #cecece;
    z-index: 10002;
    font-size: 13px;
}

#popupContact h1, #msg_div h1
{
    background-image: -moz-linear-gradient(bottom, rgb(0,2,37) 0%, rgb(1,54,103) 100%);
    background-image: -webkit-gradient(linear, left bottom,	left top, color-stop(0, rgb(0,2,37)), color-stop(1, rgb(1,54,103)));
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    text-align: left;
    float: none;
    color: #fff568;
    font-family: Impact;
    font-weight: lighter;
    font-size: 22px;
    border-bottom: 1px dotted #D3D3D3;
    padding: 5px;
}

.btnBlue
{
    background-image: -moz-linear-gradient(center top , #11B9D3 45%, #01879C 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.45, rgb(17,185,211)), color-stop(1, rgb(1,135,156)));
    border: 1px solid #089DB3;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 16px;
    font-weight: bold;
    padding: 7px;
    text-shadow: 1px -1px 1px #077E91, 1px 2px 1px #077E91;
    width: 127px;
    margin-top: 10px;
}

.btnBlue:hover
{
    background-image: -moz-linear-gradient(center top , #01879C 45%, #11B9D3 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.45, rgb(1,135,156)), color-stop(1, rgb(17,185,211)));
    border: 1px solid #089DB3;
    text-shadow: 1px -1px 1px #077E91, 1px 2px 1px #077E91;
}

.btnRed
{
    background-image: -moz-linear-gradient(center top , #ff2244 45%, #ff4466 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.45, rgb(205,30,60)), color-stop(1, rgb(240,50,80)));
    border: 1px solid #fb5023;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 16px;
    font-weight: bold;
    padding: 7px;
    text-shadow: 1px -1px 1px #ff2211, 1px 2px 1px #ff2211;
    width: 127px;
    margin-top: 10px;
}

.btnRed:hover
{
    background-image: -moz-linear-gradient(center top , #ff4466 45%, #ff2244 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.45, rgb(240,50,80)), color-stop(1, rgb(205,30,60)));
    border: 1px solid #fb5023;
    text-shadow: 1px -1px 1px #ff2211, 1px 2px 1px #ff2211;
}

#popupContactClose
{
    background-image: url(../img/imgDeleteCross64.png);
    background-size: contain;
    width: 16px;
    height: 16px;
    right: 11px;
    top: 11px;
    position: absolute;
    display: block;
    z-index: 10130;
}


#popupProgressDesc
{
    font-size: 16px;
    font-weight: bold;
    background-image: url("../img/iconAirplaneChecked.png");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    padding: 4px 0px 4px 30px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    height: 28px;
}

.gradient1
{
    position: absolute;
    top: 53px;
    right: 9px;
    width: 60px;
    height: 20px;
    background-image: -moz-linear-gradient(left , rgba(255,255,2255,0) 0%, rgba(255,255,255,1) 100%);
    background-image: -webkit-gradient(	linear,	left top,	right top,	color-stop(0, rgba(255,255,255,0)),	color-stop(1, rgba(255,255,255,1)));
}

#popupProgressCount
{
    color: #898989;
    height: 50;
}

#popupProgressBar
{
    height: 30px;
    border: 1px solid #0D4D1E;
}

.popupMessage
{
    padding: 5px;
}
